/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 375px) and (max-width: 1475px) {
  body {
    overflow: none;
    min-height: 100vh;
  }
  .container {
    width: 100%;
    flex-direction: column;
    height: 600px;
    padding: 25px;
    justify-content: start;
    align-items: center;
    overflow: none;
    flex-wrap: nowrap;
  }
  .text-container,
  .image-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
  }

  .text-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    padding-left: 12px;
    margin-bottom: 20px;
  }

  .text-container h1 {
    line-height: 32px;
    margin-bottom: 16px;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center !important;
  }

  .text-container p {
    font-size: 18px;
  }

  .image-container .shape {
    top: 180px;
    width: 100%;
    height: 82vh;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .image-container .card {
    width: 375px;
    transform: translateX(0px);
    position: static;
    opacity: 0;
    border-radius: 25px;
    background-color: transparent;
    animation: FadeIn 0.5s forwards;
  }

  .image-container .card h2 {
    color: #000 !important;
    text-align: center;
  }

  .image-container .card img {
    width: 375px;
    border-radius: 25px;
    transform: translateX(250px);
    opacity: 0;
    animation: FadeInImg 0.5s forwards;
  }

  .image-container .card a {
    margin: 0;
    padding: 20px;
    width: 375px;
    background-color: #ffffff;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-weight: 400;
    opacity: 0;
    animation: OpacityOut 1.5s forwards;
    border-radius: 25px;
    backdrop-filter: blur(50px);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px 0px
      inset;
    cursor: pointer;
  }

  footer .presets {
    display: flex;
    gap: 16px;
    margin-top: 50px;
  }

  footer img {
    width: 50px;
    border-radius: 25px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  .footer {
    position: absolute;
    bottom: 20px;
    font-size: 12px;
  }

  @keyframes FadeInImg {
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
